<!doctype html>
<html>


  <head>
    <title>FLASK ndjson File Upload</title>
  </head>

  <body>
    <h1>Upload your ndjson file</h1>

    <form method="POST" action="" enctype="multipart/form-data" >
      <p><input type="file" name="file" ></p>
      <!-- <input type="button" id="loadFileXml" value="loadXml" onclick="document.getElementById('file').click();"/> -->
      <p><input type="submit" value="Submit" ></p>
    </form>


    <!-- <input type="button" onclick="createTable" /> -->

  </body>

</html>